.home-section {
    background: url(./assets/images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: brown; */
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}